body, html {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}


.option {

    width: 100%;
    height: 200px;
    background-color: rgb(212, 214, 217);
    transition-duration:300ms ;

}

.section {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
  
    
}


.option:hover {
   border: 3px solid rgb(46, 176, 46);
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#back {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -15px;
}


#navbar {
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}



#select {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 5px;

}

#selected {

    color: rgb(53, 53, 114);
}

#used_at { 

    font-size: 10px;

}

#color {
    
    color: rgb(46, 176, 46);
}

#logout {

    text-decoration: none;
    color: green;
   

}

#form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}


#btn, #btn-logout {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn, #btn-logout {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



thead {
    background-color: rgb(126, 213, 135);
}


#submit {
    background: rgb(126, 213, 135);
    color: white;
    border-style: outset;
    border-color: rgb(126, 213, 135);
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    }

select option {

    background-color: rgb(126, 213, 135);
    color: white;
}

#selects option {
    background-color: white;
    color: black;
}

body > nav.flex.items-center.justify-between > div.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between > div:nth-child(2) {


    display: none;

}

.links {
    float: right;
    text-decoration: none;
}

.links a {
    text-decoration: none;
    color:  rgb(95, 190, 104); 
}



body > div > nav > div.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between > div:nth-child(2) {
    display: none;
}

body > div > nav > div.hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between > div:nth-child(1) > p {
    display: none;
}

#datatable_filter > label {
    width: 30%;
}

#datatable_length > label {
    padding-left: 20px;
}

#edit {
    background: rgb(126, 213, 135);
    border: none;
    padding: 5px;
}

#delete {

    background: rgb(214, 123, 66);
    border: none;
    padding: 5px;

}

#admin {

    color: rgb(31, 138, 67);

}


#blue { 
    color: rgb(84, 84, 194);
}

#orange { 

color: rgb(214, 123, 66);


}


#red { 

    color: rgb(235, 54, 54);
}

p {font-family: 'Montserrat Alternates', sans-serif;font-size:18px; font-weight:700;padding-bottom:20px;color:#FFF;}

.loader {
   width:50px;
   height:50px;
   display:inline-block;
   padding:0px;
   opacity:0.5;
   border:3px solid #09acfd;
   -webkit-animation: loader 1s ease-in-out infinite alternate;
   animation: loader 1s ease-in-out infinite alternate;
}
#span-wel, #span {

    
font-size: 30px;
letter-spacing: 5px;
font-weight: 100;
font-family: monospace;

}

#span {

    color: rgb(165, 170, 179);

}

#paragraph {

    color: rgb(214, 123, 66);
    margin-top: 15px;
    letter-spacing: 2px;

}

div.links:nth-child(6) > nav:nth-child(1)  { 

    margin-left: 70px;
}


body > div:nth-child(6) > nav {

    margin-bottom: 15px;
}


#datatable_paginate a {

    background-color: rgb(126, 213, 135);

}

#datatable_wrapper > div:nth-child(1) {

    margin-top: 15px;

}



#inspire_me {

    letter-spacing: 2px;
    color: rgb(165, 170, 179);
    font-family: monospace;

}